# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
.pytest_cache/

# Secrets
.env

# OS / editor
.DS_Store
*.swp

# MLflow
mlruns/

# LocalStack persisted state
.localstack/

trash/
tests
